/*********************************/
/****** Global Page Styling ******/
/*********************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Rubik Dirt', 'Poppins', sans-serif;
    font-weight: initial;
    font-size: clamp(2.8rem, 5vw, 5rem);
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 3px #000;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(1.6rem, 3vw, 2.5rem);
    margin-bottom: 1rem;
    color: #00B4D8;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(1.1rem, 4vw, 1.7rem);
    margin-bottom: 0.5rem;
    color: #0A9396;
}

.article-title {
    text-align: end;
    border-bottom: 0.4rem solid #0A9396;
}

p {
    max-width: 80ch;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: #94D2BD;
    text-shadow: 3px 3px 3px #000;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
    color: #94D2BD;
}

i:hover {
    color: #00B4D8;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001219;
    border-bottom: 0.2rem solid #94D2BD;
    z-index: 10;
}

.nav-logo {
    position: absolute;
    top: 0.3rem;
    left: 5rem;
    width: clamp(6rem, 14vw, 12rem);
    z-index: 5;
}

.nav-links i {
    margin-left: 1.5rem;
}

.nav-links-hidden {
    display: none;
}

.links-bar {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
    padding: 1rem 0;
}

#menu-button {
    margin: 0 1.5rem;
    z-index: 101;
}

#menu-close-button {
    display: none;
    margin: 0 1.5rem;
    z-index: 101;
}

.side-nav-links {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18rem;
    min-height: 100vh;
    padding: 5rem 3.5rem 0 0;
    background: #005F73;
    transform: translate(-20rem, 0);
    z-index: 100;
}

.side-nav-links-active {
    transform: translate(0, 0);
}

.page-links {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 0 0.5rem;
}

.page-links * {
    color: #94D2BD;
}

.page-links:hover *,
.page-links:focus * {
    color: #00B4D8;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

section {
    max-height: 100%;
    z-index: 5;
}

article {
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
    min-height: 4rem;
    background: #001219;
    padding-bottom: 0.5rem;
    z-index: 10;
}

.external-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10rem;
    z-index: 10;
}



/*********************************/
/** Search Bar Styles & Effects **/
/*********************************/

.search-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: clamp(2rem, 6vw, 3rem);
    border-radius: 2.5rem;
    z-index: 50;
}

.search-bar > button {
    width: clamp(2rem, 6vw, 3rem);
    min-height: clamp(2rem, 6vw, 3rem);
    cursor: pointer;
    border: none;
    border-radius: 2.5rem;
    background-color: #94D2BD;
    transition-duration: 0.5s;
    transition-delay: 1.0s;
    z-index: 2;
}

.search-bar > .button-active {
    background-color: #00B4D8;
    padding: 0 0.25rem;
    border-radius: 0 2.5rem 2.5rem 0;
    transition-delay: 0s;
}

.fa-magnifying-glass {
    color: #000;
}

.fa-magnifying-glass:hover {
    color: #000;
}

.search-bar > input {
    position: absolute;
    width: clamp(2rem, 6vw, 3rem);
    min-height: clamp(2rem, 6vw, 3rem);
    padding-left: 1rem;
    background-color: #94D2BD;
    border: none;
    border-radius: 2.5rem;
    transition-duration: 0.3s;
    transition-delay: 1.0s;
}

.search-bar > .input-active {
    width: clamp(11rem, 45vw, 20rem);
    transition-delay: 0s;
}

#nav-search-input {
    font-family: 'Poppins', sans-serif;
}

#nav-search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    right: clamp(2rem, 6vw, 3rem);
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    background: center / contain url('./Images/Close_Button.png');
}



/*********************************/
/***** Landing Page Styling ******/
/*********************************/

.home-page {
    background: url(../src/images/Coffees_2.jpg);
    background-size: cover;
    background-position: center;
}

.home-page::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(to right, rgba(0, 18, 25, 1) 30%, rgba(0, 18, 25, 0.9) 60%, rgba(0, 18, 25, 0.7) 90%);
}

.home-page-content {
    padding: 0 1rem;
}

.home-page-content > h2 {
    width: fit-content;
    font-family: 'Rubik Dirt', 'Raleway', sans-serif;
    font-weight: initial;
    transform: translate(15px, -12px) rotate(-3deg);
    transform-origin: center;
}

.home-page-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.home-page-links:hover * {
    color: #00B4D8;
}



/*********************************/
/******* Menu Page Styling *******/
/*********************************/

.menu-page {
    background: url(../src/images/Breakfast_Spread.jpg);
}

.menu-page::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0, 18, 25, 1) 12%, rgba(0, 18, 25, 0.5) 37%, rgba(0, 18, 25, 0.5) 65%, rgba(0, 18, 25, 1) 90%);
}

.drinks-menu,
.food-menu {
    padding: 2rem;
}

.drinks-menu > div > p:nth-of-type(2),
.food-menu > div > p:nth-of-type(2) {
    font-weight: bold;
    text-align: end;
    color: #fff;
}

.menu-page-price {
    font-size: clamp(1.4rem, 2vw, 1.7rem);
}



/*********************************/
/****** Order Page Styling *******/
/*********************************/

.order-page {
    background: url(./Images/Breakfast_Spread.jpg);
}

.order-page::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0, 18, 25, 1) 12%, rgba(0, 18, 25, 0.5) 37%, rgba(0, 18, 25, 0.5) 65%, rgba(0, 18, 25, 1) 90%);
}


/******** Grid-Area Setup ********/

.drinks-order-content > div:nth-child(1),
.food-order-content > div:nth-child(1) {
    grid-area: one;
}

.drinks-order-content > div:nth-child(2),
.food-order-content > div:nth-child(2) {
    grid-area: two;
}

.drinks-order-content > div:nth-child(3),
.food-order-content > div:nth-child(3) {
    grid-area: three;
}

.drinks-order-content > div:nth-child(4),
.food-order-content > div:nth-child(4) {
    grid-area: four;
}

.drinks-order-content > div:nth-child(5),
.food-order-content > div:nth-child(5) {
    grid-area: five;
}

.drinks-order-content > div:nth-child(6),
.food-order-content > div:nth-child(6) {
    grid-area: six;
}

.drinks-order-content > div:nth-child(7),
.food-order-content > div:nth-child(7) {
    grid-area: seven;
}

.drinks-order-content > div:nth-child(8),
.food-order-content > div:nth-child(8) {
    grid-area: eight;
}

.drinks-order-content > div:nth-child(9),
.food-order-content > div:nth-child(9) {
    grid-area: nine;
}

/******** Grid-Area Setup END ********/


.drinks-order-content,
.food-order-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(8rem, 16rem));
    gap: 1rem;
    padding: 1rem;
}

.drinks-order-content {
    grid-template-areas:
        'one one'
        'two two'
        'three four'
        'five six'
        'seven seven'
        'eight nine';
}

.food-order-content {
    grid-template-areas: 
        'one one'
        'two two'
        'three four'
        'five six'
        'seven seven'
        'eight nine';
}

.order-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: rgb(19, 19, 23);
    opacity: 95%;
}

.order-card-image {
    width: 100%;
    height: 12.5rem;
}

.order-card-image > img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 0.4rem;
}

.order-card > p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.add-cart {
    display: flex;
    align-self: flex-end;
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    background: #94D2BD;
    overflow: hidden;
}

.add-cart > p {
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    text-shadow: none;
}

.add-cart-button {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #005F73;
    border: none;
}

.add-cart-button > span {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.add-cart-button:hover,
.add-cart-button:focus {
    background-color: #00B4D8;
}



/*********************************/
/****** About Page Styling *******/
/*********************************/

.about-page {
    background: url(../src/images/Coffees_2.jpg);
    background-size: cover;
    background-position: center;
}

.about-page::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(to right, rgba(0, 18, 25, 1) 30%, rgba(0, 18, 25, 0.9) 60%, rgba(0, 18, 25, 0.7) 90%);
}

.about-page-content{
    display: flex;
    flex-direction: column-reverse;
    min-width: 90%;
}

.about-info,
.map-location {
    padding: 1rem 2rem;
}

.about-info {
    display: flex;
    flex-direction: column;
}

.okava-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.map-location{
    width: 100%;
    max-width: 70rem;
}

.map-plugin {
    height: clamp(28rem, 55vh, 45rem);
}



/*********************************/
/********* Media Queries *********/
/*********************************/

@media only screen and (min-width: 40em) {

    .nav-links-hidden {
        display: block;
    }

    .map-plugin {
        padding: 1rem;
    }
}


@media only screen and (min-width: 64em) {

    nav {
        position: sticky;
        top: 0;
    }

    .side-nav-links {
        transition-duration: 0.3s;
    }

    .menu-page-content,
    .order-page-content {
        display: flex;
    }

    .about-page-content{
        flex-direction: row;
    }

    .drinks-menu,
    .food-menu {
        width: 50%;
    }

    .drinks-order-content,
    .food-order-content,
    .about-info,
    .map-location {
        margin: 0 2rem;
    }
}
